<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/nav-bar.css" />
  </head>
  <body>
    <!-- ERROR 404 -->
    <ul>
      <li><a href="./index.html">Home</a></li>
      <li><a href="./books.html">Book List</a></li>
      <li><a href="./contact_us.html">Contact Us</a></li>
      <li><a href="./survey.html">Survey</a></li>
    </ul>
    <style>
      body {
      background-image: url('https://images.pexels.com/photos/1237119/pexels-photo-1237119.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
      }
      </style>
    <div
      class="error"
      style="margin-left: 25%; padding: 1px 16px; height: 1000px"
      color
    >
      <h1 style="color:rgb(252, 246, 246)">404 Error</h1>
      <p style="color:rgb(252, 246, 246)">Sorry, the page you are looking for is not found.</p>
    </div>
  </body>
</html>
